<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/app.css">
    <title>Home</title>
  </head>
  <body>
    <h1>The Home Page <%="hello world".toUpperCase() %></h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora sunt
        dolore, sed aliquid eaque corrupti, quisquam est, magnam voluptates
        atque
        odio quos pariatur natus rem minus. Ipsum enim voluptatem dignissimos?
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora sunt
        dolore, sed aliquid eaque corrupti, quisquam est, magnam voluptates
        atque
        odio quos pariatur natus rem minus. Ipsum enim voluptatem dignissimos?
      </p>
    </body>
  </html>